service: la-foulee-ssr
plugins:
  - serverless-offline
  # - serverless-domain-manager

package:
  # individually: true
  exclude:
    - .git/**
    - .gitignore
    - ${self:custom.appDir}/pages/**
    - ${self:custom.appDir}/components/**
    - ${self:custom.appDir}/svgs/**
    - package.json
    - package-lock.json
    - README.md
    - ${self:custom.appDir}/server_dev.js
    - .DS_Store

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  # region: ue-west-1
  memorySize: 128
  environment:
    NODE_ENV: production # Next.js is running in production mode
    ASSETS_URL: ${file(./config.yml):ASSETS_URL}
    AccessKeyID: ${file(./config.yml):AccessKeyID}
    SecretAccessKey: ${file(./config.yml):SecretAccessKey}
    stageAPI: ${file(./config.yml):stageAPI}

functions:
  GetEvent:
    handler: ${self:custom.functionsDir}/getEventPage.handler
    events:
      - http: 'GET /event/{proxy+}'
  Search:
    handler: ${self:custom.functionsDir}/getSearchPage.handler
    events:
      - http: GET /search
  NextJSFiles:
    handler: ${self:custom.functionsDir}/getNextJSFiles.handler
    events:
      - http: 'GET /_next/{proxy+}'
  GetStaticFiles:
    handler: ${self:custom.functionsDir}/getStaticFiles.handler
    events:
      - http: 'GET /static/{proxy+}'

custom:
  functionsDir: lambda
  appDir: src
#   customDomain:
#     domainName: dev.la-foulee.com
#     basePath: ''
#     stage: ${self:provider.stage}
#     createRoute53Record: true
