service: la-foulee-ssr
plugins:
  - serverless-offline

package:
  exclude:
    - .git/**
    - .gitignore
    - ${self:custom.appDir}/pages/**
    - ${self:custom.appDir}/components/**
    - ${self:custom.appDir}/svgs/**
    - ${self:custom.appDir}/utils/**
    - package.json
    - package-lock.json
    - README.md
    - server.js
    - .DS_Store

provider:
  name: aws
  runtime: nodejs6.10
  stage: ${opt:stage, 'developpement'}
  # region: ue-west-1
  memorySize: 128
  environment: ${file(./config/server/env.${self:provider.stage}.json)}

custom:
  functionsDir: lambda
  appDir: src

functions:
  GetEvent:
    handler: ${self:custom.functionsDir}/getEventPage.handler
    events:
      - http: 'GET /event/{proxy+}'
  Search:
    handler: ${self:custom.functionsDir}/getSearchPage.handler
    events:
      - http: GET /search
  NextJSFiles:
    handler: ${self:custom.functionsDir}/getNextJSFiles.handler
    events:
      - http: 'GET /_next/{proxy+}'
  GetStaticFiles:
    handler: ${self:custom.functionsDir}/getStaticFiles.handler
    events:
      - http: 'GET /static/{proxy+}'
